
@{
    <title>Stasik_Auto</title>
    ViewData["Title"] = "www.Stasik_Audi.com";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		body {
			background-image: url('\\images\\audiback.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .image-container {
            text-align: center;
            margin-top: 50px;
        }

        .image-text {
            font-size: 18px;
            color: #fff;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1 style="font-size:60px; text-align:center; color: white">Some facts about nice car</h1>

    <div class="image-container">
        <abbr title="Nice car,huh?">
            <img src="~/images/audir8.jpg" alt="Audi" width="350px" height="250px" style="border: 2px solid black;">
        </abbr>
        <p class="image-text"><em><mark>Audi R8</mark></em></p>
    </div>
    <p1 style="font-size:15px; color: white">
		<strong>
				The Audi R8, introduced by the German automaker Audi AG in 2006, is a mid-engine, two-seater sports car renowned for its
				exceptional performance and striking design. Collaborating with Lamborghini, the R8 shares its platform with the Lamborghini
				Huracán, leveraging high-performance technology and engineering. Initially equipped with a 4.2-liter V8 engine, Audi later
				introduced a more potent version featuring a 5.2-liter V10 engine, solidifying its status as a high-performance icon. Boasting
				impressive acceleration from 0 to 60 mph in around 3 seconds and top speeds exceeding 200 mph, the R8's Quattro all-wheel-drive
				system provides exceptional traction and stability. Noteworthy for its motorsport success, the R8 LMS has clinched victories in
				prestigious races such as the 24 Hours of Le Mans and the 24 Hours of Daytona. Audi has released limited edition variants like the
				R8 GT and R8 GT Spyder, enhancing exclusivity and performance. Over the years, the R8 has undergone updates, with the latest
				generation featuring advanced technology, aggressive design, and potential future iterations exploring hybrid or electric powertrains.
				Iconic in pop culture, the Audi R8 has graced screens in films like "Iron Man," solidifying its place as a cultural phenomenon and
				automotive legend.
        </strong>
    </p1>
    <hr>
    <span style="color: white">&copy;www.Stasik_Audi.com</span>
    <a style="color: white" href="https://www.audiusa.com/us/web/en/models/r8/r8-heritage/2024/overview.html">Visit Audi official web-site</a>
    <p>This is my first page</p>
    <p>@ViewBag.MyBag</p>

</body>