@{
    ViewData["Title"] = "Home Page";
}
<link rel="icon" type="image\\x-icon" href="\\images\\df dfavicon.ico"/>
    <head>
        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 2px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }
        </style>
    </head>
    <title>Car Owners</title>
<body>
    <h1>Car Owners List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Car</th>
                <th>Model</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var owner in Model)
            {
                <tr>
                    <td>@owner.Name</td>
                    <td>@owner.Age</td>
                    <td>@owner.Car</td>
                    <td>@owner.Model</td>
                </tr>
            }
        </tbody>
    </table>
</body>