@{
    ViewData["Title"] = "www.Stasik_Porsche.com";
}
<h1>@ViewData["Title"]</h1>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
		body {
			background-image: url("\\images\\Sky.jpg");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: blue;
        }

        .image-container {
            text-align: center;
            margin-top: 50px;
        }

        .image-text {
            font-size: 18px;
            color: #fff;
            margin-top: 20px;
        }
    </style>
</head>

<body>
    <h1 style="font-size:60px; text-align:center;">Some facts about nice car</h1>

    <div class="image-container">
        <abbr title="Nice car,huh?">
            <img src="~/images/2019-porsche-911-gt3-rs-motor-review.jpg" alt="Porsche" width="400px" height="250px" style="border: 2px solid black;">
        </abbr>
        <p class="image-text"><em><mark>Porsche GT 3RS</mark></em></p>
    </div>
    <p1>
		<b>
			The Porsche GT3 RS, a pinnacle of precision engineering and performance, embodies the relentless pursuit of automotive excellence synonymous with the German marque.
			Launched as a track-focused variant of the iconic 911 series, the GT3 RS boasts a lightweight construction, aerodynamic enhancements, and a race-derived chassis,
			culminating in an unrivaled driving experience. Equipped with a high-revving naturally aspirated engine, meticulously tuned suspension, and razor-sharp handling
			dynamics, the GT3 RS delivers blistering acceleration and precise cornering capabilities, setting benchmark lap times on both road and track. Renowned for its
			motorsport pedigree, the GT3 RS lineage traces back to Porsche's illustrious racing heritage, with numerous victories in endurance racing events like the 24 Hours
			of Le Mans and the Nürburgring 24 Hours. Each iteration of the GT3 RS represents the pinnacle of Porsche's engineering prowess, with constant evolution and refinement
			pushing the boundaries of performance and setting new benchmarks for supercars worldwide. Embraced by enthusiasts and collectors alike, the Porsche GT3 RS stands as
			a testament to Porsche's commitment to innovation, performance, and the relentless pursuit of automotive perfection.
		</b>
        
    </p1>
    <hr>
    <span>&copy;www.Stasik_Porsche.com</span>
    <a href="https://www.porsche.com/usa/models/911/911-gt3-rs/911-gt3-rs/">Visit Porche official web-site</a>
    <p>This is my first page</p>
    <p>@ViewBag.MyBag</p>

</body>