
@{
    ViewData["Title"] = "Stasik_Auto.com";
}
<h>@ViewData["Title"]</h>

<head>
    <style>
        body {
			background-image: url('c:\users\maslo\source\projects\webapp1\webapp1\images\2019-porsche-911-gt3-rs-motor-review.jpg');
		}
    </style>
</head>
<h1>@ViewData["Title"]</h1>
<p>This is my first page</p>
<p>@ViewBag.MyBag</p>